.home {
  width: 100%;
  align-items: center;
  font-family: "Arial", sans-serif;
  color: #3e497a;
}

.about {
  width: 100%;
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #21325e;
  position: relative;
  color: #f0f0f0;
  text-align: center;
  overflow-y: auto;
  padding-top: 50px;
}

.about h2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 4vw;
  color: #e9d35b;
  height: 50%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 10%;
}

.about .prompt {
  color: #ffffff;
  width: 50%;
  height: 50%;
  font-size: 3vw;
  padding-right: 10%;
}

.prompt p {
  margin-bottom: 10px;
}

.contact {
  color: #ffffff;
  font-size: 2vw;
}

.prompt svg {
  font-size: 60px;
  margin: 5px;
  color: white;
}

.skills {
  font-size: 25px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

.skills h1 {
  color: #3e497a;
  margin: 0;
  padding-top: 50px;
}

.skills h2 {
  color: #3e497a;
  height: 20px;
}

a[href] {
  color: #21325e;
}

.skills .list {
  list-style: none;
  width: 60%;
}

.list span {
  font-size: 20px;
}

.home img {
  max-width: 50%;
  min-height: auto;
  align-items: center;
  display: flex;
}

@media only screen and (max-width: 500px) {
  .about {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #21325e;
    color: #f0f0f0;
    text-align: center;
  }

  .about h2 {
    font-size: 30px;
    min-height: 80px;
    width: 300px;
    padding: 0;
    padding-top: 10%;
  }

  .about h2 img {
    margin-bottom: 30px;
  }

  .about .prompt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    width: 50%;
    height: 150%;
    padding-right: 0;
    padding-top: 10%;
    padding-bottom: 10%;
  }

  .about .prompt p {
    margin-bottom: 20px;
    margin-top: 70px;
  }
  .about .prompt .contact {
    margin-top: 0px;
  }

  .skills .list .item .recent {
    padding-bottom: 50px;
    margin: 0;
  }

  .contact {
    font-size: 4vw;
  }
}

@media only screen and (min-width: 500px) and (max-width: 680px) {
  .about {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #21325e;
    color: #f0f0f0;
    text-align: center;
    margin-bottom: 30px;
  }

  .about h2 {
    font-size: 30px;
    min-height: 80px;
    padding: 0;
  }

  .about .prompt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    width: 50%;
    height: 150%;
    padding-right: 0;
    padding-top: 10%;
    padding-bottom: 10%;
  }

  .skills {
    text-align: center;
  }

  .list {
    padding-left: 0px;
  }

  .skills h1 {
    font-size: 50px;
  }

  .skills h2 {
    font-size: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 0px;
    height: 0px;
  }

  .home img {
    min-width: 70%;
    height: auto;
    align-items: center;
    padding-top: 10%;
  }

  .skills .list .item .recent {
    padding-bottom: 0px;
    margin: 0;
  }

  .contact {
    font-size: 3vw;
  }
}

@media only screen and (min-width: 680px) and (max-width: 800px) {
  .skills h1 {
    font-size: 30px;
  }

  .skills h2 {
    font-size: 30px;
  }

  .skills .list .item .recent {
    padding-bottom: 0px;
    margin: 0;
  }

  .contact {
    font-size: 2vw;
  }
}

@media only screen and (max-height: 600px) {
  .about {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .about h2 {
    margin: 0;
  }

  .contact {
    font-size: 2vw;
  }
}

@media only screen and (min-width: 500px) and (max-width: 680px) and (min-height: 600px) {
  .about {
    display: flex;
    flex-direction: column;
  }

  .about h2 {
    margin-bottom: 150px;
  }

  .about h2 img {
    margin-bottom: 30px;
  }

  .about .prompt {
    margin-top: 30px;
  }

  .contact {
    font-size: 3vw;
  }
}
